#Configs For Cloud
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=accounts_db
TRANSACTIONS_POSTGRES_DB=transactions_db

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
REDIS_HOST=redis
REDIS_PORT=6379

ACCOUNT_SERVICE_URL=http://account-service:8081
TRANSACTION_SERVICE_URL=http://transaction-service:8082

API_GATEWAY_PORT=8080
ACCOUNT_SERVICE_PORT=8081
TRANSACTION_SERVICE_PORT=8082
FRAUD_DETECTION_SERVICE_PORT=8084
NOTIFICATION_SERVICE_PORT=8085

FRAUD_MAX_TRANSACTIONS_PER_MINUTE=5
FRAUD_SUSPICIOUS_AMOUNT_MULTIPLIER=2
FRAUD_MAX_BALANCE_PERCENTAGE=0.6
RATE_LIMIT_REPLENISH_RATE=10
RATE_LIMIT_BURST_CAPACITY=20
RATE_LIMIT_REQUESTED_TOKENS=1
